/*--------------------------------------------------------------
# IMPORT'S
--------------------------------------------------------------*/

@import url(./normalize.css);

/*--------------------------------------------------------------
# FONTS
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# ROOT
--------------------------------------------------------------*/

:root{
    --color-primary: rgb(0, 175, 239);
    --color-secundary: rgb(15, 12, 13);
}

/*--------------------------------------------------------------
# GENERAL
--------------------------------------------------------------*/

html,body{
    background: var(--color-secundary);
}